<body>

<div class="header">
    <img src="/static/logo.jpeg" width="120">
    <h1>JAGDISH TRADERS</h1>
    <p>Owner: Jagdish Kesharwani</p>
    <p>Tilhapur Modh, Newada Road, Kaushambi</p>
    <p>Landmark: Chauraha</p>
    <p>Phone numbers:📞 9956853286 | 7905069895</p>
    <p>Email id:📧 jagdishtraders9956@gmail.com</p>
     <p>UPI id:9956853286-6@ybl</p>
</div>

<h2>Our Brands</h2>

<div class="brands">
    {% for brand in brands %}
    <div class="brand-box">
        <img src="/static/{{ brand.image }}" width="80"><br>
        {{ brand.name }} <br><br>

        <a href="https://wa.me/919956853286?text=I want {{ brand.name }}" target="_blank">
            <button>Order</button>
        </a>
    </div>
    {% endfor %}
</div>

<h2>Scan & Pay</h2>
<img src="/static/payment_qr.jpeg" width="200">


<h2>Our Location</h2>

<iframe 
src="https://www.google.com/maps?q=Tilhapur%20Modh%20Kaushambi%20Uttar%20Pradesh%20India&output=embed"
width="90%" 
height="300" 
style="border:0;">
</iframe>
</body>